parameters:
  level: max
  paths:
    - lib
  ignoreErrors:
  - "#get_.*is unused#"
  - "#ActiveRecord but does not specify its types#"
  - "#generic class .+ActiveRecord does not specify its types#"
  - "#generic class .+Model does not specify its types#"
  - "#generic class .+Model but does not specify its types#"
